
.nav-header {
  width: 100%;
  background-color: #74c69d;
  padding: 10px 20px;

}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; 
}

.nav-links {
  display: none; 
  justify-content: space-between;
  gap: 20px;
}


.nav-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


.nav-links li {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: right;

}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}


.menu-icon {
  width: 30px;
  cursor: pointer;
  display: block; 
}


@media (min-width: 768px) {
  .nav-links {
    display: flex; 
  justify-content: space-between;
    margin-left: 500px;
  }

  .menu-icon {
    display: none; 
  }
}


@media (max-width: 767px) {
  .nav-links.open {
    display: flex;
    position: absolute;
    /* top: 60px;
    right: 20px; */
    background: #74c69d;
    width: 100%;
    
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
